@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

	body{
   padding: 0px;
   margin: 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
 }


#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
[tabindex="-1"]:focus {
    outline: 0 !important;
}

/* ANIMATIONS */

@keyframes scrolling-rainbow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.share-plugin {
    position: fixed;
    height: auto;
    width: 50px;
    background-color: transparent;
    left: 0;
    top: 85px;
}
.share-plugin ul {
    list-style-type: none;
    padding: 0 100px 100px 0;
    margin: 0 50px 50px 0;
}
.share-plugin ul li > a {
    display: block;
    text-align: -webkit-center;
    padding: 13px;
    transition: color 170ms ease-in;
  color: #FFF;
}

.facebook-sharrre-nav:hover,
.facebook-sharrre-nav:focus {
 color: #3b5bdb;
}

.linkedin-sharrre-nav:hover,
.linkedin-sharrre-nav:focus {
  color: #22A7F0;
}
.instagram-sharrre-nav:hover,
.instagram-sharrre-nav:focus{
  color: #663399;
}
.github-sharrre-nav:hover,
.github-sharrre-nav:focus{
  color: #000;
}
div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.footer {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:0.8em;
  color:#fff;
  a {
    font-weight:500;
    text-decoration:none;
    color:#fff;
  }
}
#quote-box {
  border-radius:3px;
  position:relative;
  //margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
  .quote-text {
    i{
      font-size:1.0em;
      margin-right: 0.4em;
    }
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
  }
  .quote-author {
    width:450px;
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1em;
    text-align:right;
  }
  .buttons {
    width:450px;
    margin:auto;
    display:block;
    .button {
      height:38px;
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#333;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
      &:hover {
        opacity:0.9;
      }
      &#tweet-quote, &#tumblr-quote {
        float:left;
        padding:0px;
        padding-top:8px;
        text-align:center;
        font-size:1.2em;
        margin-right:5px;
        height:30px;
        width:40px;
      }
      &#new-quote {
        float:right;
      }
    }
  }

}
